<ul class="vertical menu" data-accordion-menu>

  {{#each @data key="@index" as |project|}}
  <li>
    <a href="#" onclick={{action @showProject project.id}}>{{project.name}}</a>
    <ul class="menu vertical nested">
      {{#each project.children key="@index" as |child|}}
        <li>
          <a href="#" onclick={{action @showModule project.id child.slug}}>{{child.name}}</a>
        </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
