<div>
  {{#if @type.link}}
    <a href="#" class="type" onclick={{action @showModule @type.link.parent.id @type.link.id}}>
      {{@type.name}}
    </a>
  {{else}}
    <span class="type">{{@type.name}}</span>
  {{/if}}
  {{#if @type.isArray}}<span class="isArray">[]</span>{{/if}}

  {{#if @type.isOptional}}
    SWAG
  {{/if}}
</div>
