<div>
  <strong>{{@title}}</strong>

  <ul class="project-list">
    {{#each @modules key="@index" as |module|}}
      <li>
        <EntityLink @name={{module.name}} @projectId={{@projectId}} @moduleId={{module.slug}} />
      </li>
    {{/each}}
  </ul>
</div>
