<div>
  <strong>{{@title}}</strong>

  <ul class="project-list">
    {{#each @modules key="@index" as |module|}}
      <li onclick={{action @showModule @projectId module.slug}}>{{module.name}}</li>
    {{/each}}
  </ul>
</div>
