<div>
  <section class="content-container">
    <h2>404 Not Found</h2>
    <p>
      Hmmmm, we can't seem to find what you're looking for. Perhaps checkout the <a href="/" onclick={{action @showIndex}}>homepage</a>?
    </p>
  </section>
</div>
